/* globals.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

ul.student-list {
  width: 150px;
  /* 사이즈를 맞추기 위해 임의로 수정 */
  height: 15px;

  list-style-type: none;
  padding: 0;
  cursor: pointer;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400px;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;

}

li.student-list-item {
  padding: 8px;
  /* border: 1px solid #ddd; */
  margin-bottom: 4px;
  /* background-color: #f9f9f9; */
  /* border-radius: 4px; */
}

li.student-list-item:hover {
  background-color: #f0f0f0;
}

p {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: justified;
  color: #919191;
}

.student-info {
  margin-top: 20px;
}

#introduction h2 {
  color: #4B4B4B;
  width: 200px;
  height: 39px;
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;


}

#advantages h3 {
  /* color: #333; */
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;


}

#search-bar {
  display: flex;
  flex-direction: column;
  /* align-items: center; */  /* 필요 없음 제거 */
  margin-top: 20px;
}

#search-input {
  width: 500px;
  height: 32px;
  border-radius: 10px;
  margin-bottom: 8px;
}

#show-button {
  width: 500px;
  height: 64px;
  border-radius: 10px;
  background-color: #9191914D;
  color: white;
  border: none;
  cursor: pointer;
}

#content{
  width: 500px;
  height: 638px;
}

#line {
  border-left: 1px solid #A5A5A5;
  margin-right: 20px;
  height: 771px;
}

